<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-12">
    <center>
    <div class="container">
      <div class="alert alert-default">
        <p>
          <% if(@vehicule.picture_file_name.nil? ) %>
            <div class="useravatar2">
              <img src="/noprofilepic.jpg">
            </div>
          <% else %>
            <div class="useravatar2">
              <%= image_tag @vehicule.picture %>
            </div>
          <% end %>
        </p>
        
        <p>
          <strong>Brand:</strong>
          <%= @vehicule.brand %>
        </p>
        
        <p>
          <strong>Model:</strong>
          <%= @vehicule.model %>
        </p>
        
        <p>
          <strong>Capacity:</strong>
          <%= @vehicule.capacity %>
        </p>
        
        <p>
          <strong>Details:</strong>
          <%= @vehicule.details %>
        </p>
      </div>
    </div>
    </center>
  </div>
</div>

<%= link_to 'Edit', edit_vehicule_path(@vehicule), :class => "btn btn-default" %>
<%= link_to 'Back', vehicules_path, :class => "btn btn-default" %>

<style>
.useravatar2 img{
    width: 180px;
    height: 180px;
    max-width: 180px;
    max-height: 180px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
</style>