<%= form_for(@user) do |f| %>
    <label class="control-label">Start Date</label>
    <%= f.text_field :email, id: "datepicker", :class=>"form-control" %>
<%end%>


<%= "Prueba nueva" %>

<<<<<<< HEAD
<%= "Prueba recibida" %>
=======
<%= "Esperando a recibir la prueba" %>
>>>>>>> ccfcc0ed085ea270df9dccd7549b4b8b10e53ff3
